
<h2> Outfit <%= @outfit.id %></h2>

  <% @outfit.items.each do |t| %>
    <div class="clothes-card-outfits">
      <div class="clothes-card">
        <div class="clothes-card-photo">
          <%= cl_image_tag(t.photo, secure: true) %>
        </div>
        <div class="clothes-card-footer">
          <p> <%= t.style %></p>
        </div>
      </div>
    </div>
  <% end %>

