.outfit-image{
   width: 100%;
}

.shrink{
  margin-top: 15px;
  margin-bottom: 20px;
}

#qo-main-menu{
  display: flex;
  flex-direction: column;
  width: 100vw;
  // height: calc(100vh - 56px);
  align-items: center;
  justify-content: center;
  padding: 24px;
  max-width: 400px;
  margin: auto;
}



#qo-main-home{
  display: flex;
  flex-direction: column;
  width: 100vw;
  // height: calc(100vh - 56px);
  align-items: center;
  justify-content: center;
  padding: 24px;
  margin-top: 100px;
  // i {
  //   font-size: 300px;
  // }
}

.logo-menu {
  i {
    font-size: 40px;
    color: $blue;
    padding: 4px 15px;
    opacity: 1;

      &:hover {
        opacity: 0.5;
  }
  }

}

h4 {
 text-align: center;
 font-family: "Poppins", "Helvetica", "sans-serif";
 font-weight: bolder;
}


.quickoutfit {
  i {
  margin-left: auto;
  margin-right: auto;
  }
}

