<br>
<br>

<h1>Saved Outfits</h1>

<h2> ✅ Outfits</h2>
<% @outfits.each do |outfit| %>
  <% if outfit.status == 'validated' && outfit.rating >= 3 %>
    <%= render 'outfits/outfit_carousel', outfit: outfit %>
  <% end %>
<% end %>

<h2>⛔️ Outfits</h2>
<% @outfits.each do |outfit| %>
  <% if outfit.status == 'validated' && outfit.rating < 3 %>
    <%= render 'outfits/outfit_carousel', outfit: outfit %>
  <% end %>
<% end %>


<% unless @newly_validated_outfits.empty? %>
  <% @newly_validated_outfits.each do |outfit| %>
    <div data-outfit-name="<%= outfit.name %>" class="newly-validated-outfit hidden"></div>
  <% end %>
<% end %>

