<br>
<br>

<h1>Saved Outfits</h1>

<h2> ✅ Outfits</h2>
<% @outfits.each do |outfit| %>
  <% if outfit.status == 'validated' && outfit.rating >= 3 %>
    <%= render 'outfits/outfit_carousel', outfit: outfit %>
  <% end %>
<% end %>

<h2>⛔️ Outfits</h2>
<% @outfits.each do |outfit| %>
  <% if outfit.status == 'validated' && outfit.rating < 3 %>
    <%= render 'outfits/outfit_carousel', outfit: outfit %>
  <% end %>
<% end %>
<!-- 

<h2>⏱ Pending</h2>
<% @outfits.each do |outfit| %>
  <% if outfit.status == 'pending' %>
  	<%= link_to 'select outfit of the day', outfit_counter_path(outfit), method: :patch, class: 'btn btn-primary btn-lg qo-btn-primary' %>
    <%= render 'outfits/outfit_carousel', outfit: outfit %>
  <% end %>
<% end %>
 -->



