<div class="container">

  <h1>h1</h1>
  <h2>h2</h2>
  <h3>h3</h3>
  <p>paragraphe</p>

  <div><button type="button" class="btn btn-primary btn-lg qo-btn-primary">Saved Outfits</button>
</div>

  <div class="clothes-card">
    <div class="clothes-card-photo">
      <img src="https://cdn-images.farfetch-contents.com/13/19/70/13/13197013_14715715_1000.jpg">
    </div>
    <div class="clothes-card-footer">
      <p> Casual Style </p>
    </div>
  </div>


</div>
