
<h1>Quick Outfit</h1>
<div id="qo-main-home">
  <%=link_to '/menu', class: 'logo-menu' do %>
      <i class="fas fa-stopwatch"></i>
  <% end %>
</div>

<%= image_tag "angelina.jpg", class:'landing-image'%>

