<br>
<br>
<h1>Quick Outfit</h1>
<div class="index-container">
  <div id="qo-main-home">
    <%=link_to '/menu', class: 'logo-menu' do %>
        <canvas id="canvas" width="300" height="300"></canvas>
    <% end %>
  </div>
</div>

<%= javascript_pack_tag "animation" %>
