<div id="qo-main-menu">
<%= image_tag "hanger2.png", class:'outfit-image'%>


<%=link_to 'Wardrobe', '/items', class: 'btn btn-primary btn-lg btn-block qo-btn-primary shrink'%>

<%=link_to 'Saved Outfits', '/outfits', class: 'btn btn-primary btn-lg btn-block qo-btn-primary shrink'%>

</div>


