

<div class="clothes-card-photo">
	<% @tops.each do |top| %>
		<%= cl_image_tag(top.photo, secure: true) %>
	<% end %>
	<%= cl_image_tag(@bottom.photo, secure: true) %>
	<%= cl_image_tag(@shoe.photo, secure: true) %>
</div>