h1, h2, h3, p{
  color: $typo-color;
}

.slick-current .clothes-card {
  opacity: 1;
}

.clothes-card {
  opacity: 0.5;
  transition: opacity ease 1s;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 220px;
  height: 220px;
  background: white;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.clothes-card-photo > img {
  border-radius: 5px 5px 0px 0px;
  height: 190px;
  width: 100%;
  object-fit: cover;
}

.clothes-card-footer{
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;

    p {
      margin-top: 5px;
      padding-left: 5px;
    }
  }


.qo-btn-primary{
  border-radius: 25px;
  padding: 4px 15px
}

.qo-btn-input {
  background-color: white;
  border-radius: 25px;
  border: 2px solid $blue;
  padding: 4px 15px;
}


a.qo-btn-input {
  color: $blue;
}

.qo-btn-secondary {
  background-color: #C9D2DD;
  border-radius: 25px;

  padding: 4px 15px;
}
a.qo-btn-secondary {
  color: white;
}

.logo{
  i {
    font-size: 40px;
    color: $blue;
  }
}





