.items-save-button {
  display: flex;
  justify-content: flex-end;
  width:100%;
  padding: 10px;
}


.slick-carousel-vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: fixed;
}

.clothes-card-outfits {

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  margin: 10px;
  min-height: 200px;
  align-items: center;
}

.clothes-card.active {
  border: 4px solid $blue;
}

.outfit-saved {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 10px;
}

.outfit-saved.small {
  margin: 0px;
  
  .container {
    margin: 0px;
    width: 100%;
    .row {
      margin: 0px;
    }
  }
}

.clothes-card-saved {
  margin: 10px;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;  
  }
}

.saved-outfit-card {
  border: black solid 2px;
  max-width: 90vw !important;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}